.botones
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centro 
{
    display: flex;
    justify-content: center;
}
  
.jugadores 
{
    padding: 10px;
    margin: 10px;
    background-color: yellow;
}
.partida
{ 
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(25, 175, 25) ;
    opacity: 0.60;
    color: black;
    width: 100%;
}

.imagen
{
    background-size: cover;
}

.bton
{
    opacity: 0.70;
}

.bton:hover
{
    opacity: 0.99;
}

.regresar
{
    display: table;
    padding-right: 900px;
}